<h1>New User Account</h1>

<form class=mb-3 action="/users" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" id="username" class="form-control">
            <label for="email" class="form-label">Email</label>
      <input type="text" name="email" id="email" class="form-control">
            <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control">

    </div>
<!--
<form action="/users" method="post">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"> -->
  </p>
  <button class="btn btn-primary">Signup</button>
</form>
